@import "tailwindcss";

body {
  background-color: #030712; /* bg-gray-950 */
  color: #f3f4f6; /* text-gray-100 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-zinc-750: #2e2e38;
  --color-zinc-850: #1f1f23;
  --color-zinc-925: #111115;
  --color-zinc-950: #09090b;
  
  --color-excel-50: #f0fdf4;
  --color-excel-500: #16a34a;
  --color-excel-600: #107c41;
  --color-excel-700: #0b5c30;
  --color-excel-800: #074122;

  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
